In [3]:
import pandas as pd
import numpy as np

In [12]:
data = pd.read_csv('all_kindle_review .csv')

In [13]:
data.head()

,Unnamed: 0.1,Unnamed: 0,asin,helpful,rating,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,11539,B0033UV8HI,"[8, 10]",3,"Jace Rankin may be short, but he's nothing to ...","09 2, 2010",A3HHXRELK8BHQG,Ridley,Entertaining But Average,1283385600
1,1,5957,B002HJV4DE,"[1, 1]",5,Great short read. I didn't want to put it dow...,"10 8, 2013",A2RGNZ0TRF578I,Holly Butler,Terrific menage scenes!,1381190400
2,2,9146,B002ZG96I4,"[0, 0]",3,I'll start by saying this is the first of four...,"04 11, 2014",A3S0H2HV6U1I7F,Merissa,Snapdragon Alley,1397174400
3,3,7038,B002QHWOEU,"[1, 3]",3,Aggie is Angela Lansbury who carries pocketboo...,"07 5, 2014",AC4OQW3GZ919J,Cleargrace,very light murder cozy,1404518400
4,4,1776,B001A06VJ8,"[0, 1]",4,I did not expect this type of book to be in li...,"12 31, 2012",A3C9V987IQHOQD,Rjostler,Book,1356912000

In [14]:
 df= data[['reviewText', 'rating']]

In [15]:
df.head()

                                          reviewText  rating
0  Jace Rankin may be short, but he's nothing to ...       3
1  Great short read.  I didn't want to put it dow...       5
2  I'll start by saying this is the first of four...       3
3  Aggie is Angela Lansbury who carries pocketboo...       3
4  I did not expect this type of book to be in li...       4

In [16]:
df.isnull().sum()

reviewText    0
rating        0
dtype: int64

In [17]:
df['rating'].unique

<bound method Series.unique of 0        3
1        5
2        3
3        3
4        4
        ..
11995    4
11996    5
11997    3
11998    1
11999    3
Name: rating, Length: 12000, dtype: int64>

In [18]:
## Preprocessing and cleaning

df['rating'] = df['rating'].apply(lambda x:0 if x<3 else 1)

C:\Users\Dell\AppData\Local\Temp\ipykernel_25340\1044616838.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rating'] = df['rating'].apply(lambda x:0 if x<3 else 1)

In [19]:
df.head()

                                          reviewText  rating
0  Jace Rankin may be short, but he's nothing to ...       1
1  Great short read.  I didn't want to put it dow...       1
2  I'll start by saying this is the first of four...       1
3  Aggie is Angela Lansbury who carries pocketboo...       1
4  I did not expect this type of book to be in li...       1

In [20]:
# lowering all the cases
df['reviewText']= df['reviewText'].str.lower()

C:\Users\Dell\AppData\Local\Temp\ipykernel_25340\3467315218.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText']= df['reviewText'].str.lower()

In [21]:
df.head()

                                          reviewText  rating
0  jace rankin may be short, but he's nothing to ...       1
1  great short read.  i didn't want to put it dow...       1
2  i'll start by saying this is the first of four...       1
3  aggie is angela lansbury who carries pocketboo...       1
4  i did not expect this type of book to be in li...       1

In [26]:
import pandas as pd
import re
from bs4 import BeautifulSoup
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dell\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [28]:
# 1. Remove HTML tags
df['reviewText'] = df['reviewText'].apply(lambda x: BeautifulSoup(x, "html.parser").get_text())

# 2. Remove URLs
df['reviewText'] = df['reviewText'].apply(lambda x: re.sub(r'http\S+|www\S+|https\S+', '', x, flags=re.MULTILINE))

# 3. Remove special characters and numbers
df['reviewText'] = df['reviewText'].apply(lambda x: re.sub(r'[^a-z A-Z 0-9-]', '', x))

# 4. Remove extra spaces
df['reviewText'] = df['reviewText'].apply(lambda x: re.sub(r'\s+', ' ', x).strip())

# 5. Convert to lowercase
df['reviewText'] = df['reviewText'].apply(lambda x: x.lower())

# 6. Remove stopwords
df['reviewText'] = df['reviewText'].apply(lambda x: ' '.join([word for word in x.split() if word not in stopwords.words('english')]))

C:\Users\Dell\AppData\Local\Temp\ipykernel_25340\1504619592.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText'] = df['reviewText'].apply(lambda x: BeautifulSoup(x, "html.parser").get_text())
C:\Users\Dell\AppData\Local\Temp\ipykernel_25340\1504619592.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText'] = df['reviewText'].apply(lambda x: re.sub(r'http\S+|www\S+|https\S+', '', x, flags=re.MULTILINE))
C:\Users\Dell\AppData\Local\Temp\ipykernel_25340\1504619592.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText'] = df['reviewText'].apply(lambda x: re.sub(r'[^a-z A-Z 0-9-]', '', x))
C:\Users\Dell\AppData\Local\Temp\ipykernel_25340\1504619592.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText'] = df['reviewText'].apply(lambda x: re.sub(r'\s+', ' ', x).strip())
C:\Users\Dell\AppData\Local\Temp\ipykernel_25340\1504619592.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText'] = df['reviewText'].apply(lambda x: x.lower())
C:\Users\Dell\AppData\Local\Temp\ipykernel_25340\1504619592.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText'] = df['reviewText'].apply(lambda x: ' '.join([word for word in x.split() if word not in stopwords.words('english')]))

In [29]:
df.head()

                                          reviewText  rating
0  jace rankin may short hes nothing mess man hau...       1
1  great short read didnt want put read one sitti...       1
2  ill start saying first four books wasnt expect...       1
3  aggie angela lansbury carries pocketbooks inst...       1
4  expect type book library pleased find price right       1

In [30]:
## Lemmatization

from nltk.stem import WordNetLemmatizer

In [31]:
lemmatizer = WordNetLemmatizer()

In [32]:
def lemmatize_words(text):
    return " ".join([ lemmatizer.lemmatize(word) for word in text.split()])

In [33]:
df['reviewText']= df['reviewText'].apply(lambda x: lemmatize_words(x))

C:\Users\Dell\AppData\Local\Temp\ipykernel_25340\2810747438.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['reviewText']= df['reviewText'].apply(lambda x: lemmatize_words(x))

In [34]:
df.head()

                                          reviewText  rating
0  jace rankin may short he nothing mess man haul...       1
1  great short read didnt want put read one sitti...       1
2  ill start saying first four book wasnt expecti...       1
3  aggie angela lansbury carry pocketbook instead...       1
4  expect type book library pleased find price right       1

## Train Test Split

In [35]:
from sklearn.model_selection import train_test_split

In [37]:
x_train,  x_test,y_train, y_test= train_test_split(df['reviewText'], df['rating'], test_size=0.20)

## BOW, TF-IDF

In [42]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer()
x_train_bow = bow.fit_transform(x_train).toarray()
x_test_bow = bow.transform(x_test).toarray()

In [45]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
x_train_tfidf = tfidf.fit_transform(x_train).toarray()
x_test_tfidf = tfidf.transform(x_test).toarray()

In [43]:
type(x_test_bow)

numpy.ndarray

In [44]:
x_train_bow

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

## Model Training

In [46]:
from sklearn.naive_bayes import GaussianNB

nb_model_bow = GaussianNB().fit(x_train_bow, y_train)
nb_model_tfidf= GaussianNB().fit(x_train_tfidf, y_train)

In [47]:
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [48]:
y_pred_bow= nb_model_bow.predict(x_test_bow)
y_pred_tfidf= nb_model_tfidf.predict(x_test_tfidf)

In [49]:
print("BOW accuracy:", accuracy_score(y_test,y_pred_bow))
print("BOW confusion Matrix:", confusion_matrix(y_test, y_pred_bow))
print("Classification report:", classification_report(y_test, y_pred_bow))

BOW accuracy: 0.5825
BOW confusion Matrix: [[533 261]
 [741 865]]
Classification report:               precision    recall  f1-score   support

           0       0.42      0.67      0.52       794
           1       0.77      0.54      0.63      1606

    accuracy                           0.58      2400
   macro avg       0.59      0.60      0.57      2400
weighted avg       0.65      0.58      0.59      2400

In [50]:
print("TFIDF accuracy:", accuracy_score(y_test,y_pred_tfidf))
print("TFIDF confusion Matrix:", confusion_matrix(y_test, y_pred_tfidf))
print("TFIDF Classification report:", classification_report(y_test, y_pred_tfidf))

TFIDF accuracy: 0.58125
TFIDF confusion Matrix: [[513 281]
 [724 882]]
TFIDF Classification report:               precision    recall  f1-score   support

           0       0.41      0.65      0.51       794
           1       0.76      0.55      0.64      1606

    accuracy                           0.58      2400
   macro avg       0.59      0.60      0.57      2400
weighted avg       0.64      0.58      0.59      2400